body {
	background-color: #adebeb;
	font-family: "Verdana";
	color: black;
}

.top {
	text-align: center;
	font-family: "Verdana";
}

.example {
	text-align:center;
}

h3 {
	border: double;
	border-color: #74adad;
}